---
import Layout from '../layouts/Layout.astro'
import TheTable from '../components/TheTable.astro'
---

<Layout title="Kolekcja gier - PC/Amazon">
	<main class="my-4 mx-auto container min-h-screen">
    <TheTable platform="PC/Amazon" />
	</main>
</Layout>
