---
const menu = [
  { href: '/', label: 'Główna' },
  { href: '/all', label: 'Wszystkie' },
  { href: '/ps2', label: 'PS2' },
  { href: '/pc-all', label: 'PC - wszystkie' },
  { href: '/pc-amazon', label: 'PC/Amazon' },
  { href: '/pc-epic', label: 'PC/Epic' },
  { href: '/pc-gog', label: 'PC/GOG' },
  { href: '/pc-steam', label: 'PC/Steam' },
]

const { pathname } = Astro.url

---
<ul class="flex justify-center list-none gap-4">
  {menu.map(({href, label}) =>
    <li>
      <a
        {href}
        class:list={[{'font-bold': href === pathname || `${href}/` === pathname}]}
      >{ label }</a>
    </li>
  )}
</ul>
